*
  margin: 0
  padding: 0

main
  margin: 0 calc(50% - 450px)

footer
  height: 100px

.form
  display: flex
  flex-direction: column
  align-items: flex-start

input, textarea
  padding: 5px
  margin: 5px 0 5px 0

input[type='submit']
  padding: 3px 5px 3px 5px

.products
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.product_image
  width: 250px
  max-height: 300px
  margin: 5px
  background-color: #080

h1
  margin: 10px 0 10px 0
  text-align: center

ol, ul
  padding-left: 20px